.header_section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px 15px;
  height: var(--nav_height);
  background-color: var(--primary_dark);
  color: var(--text_secondary);
  position: relative;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.header_nav .nav_history_icon,
.nav_help_icon {
  display: flex;
  font-size: 1.3rem;
  transition: all 0.2s;
  cursor: pointer;
  padding: 4px;
}

.nav_history_icon:hover,
.nav_help_icon:hover {
  color: white;
  border-radius: 5px;
  background: rgb(73, 37, 74);
}

.nav_history {
  margin-right: 1rem;
  position: relative;
}

.nav_history .history_wrapper {
  position: absolute;
  top: 2rem;
  left: 0;
  background: white;
  padding: 10px 0px;
  width: auto;
  max-width: 250px;
  overflow-x: auto;
  max-height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.history_wrapper .history_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  justify-content: space-between;
  color: black;
  padding: 10px 15px;
  white-space: nowrap;
}

.history_item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.history_item:hover {
  background: #1264a3;
  color: white;
  cursor: pointer;
}

.history_item_time {
  font-size: 0.65rem;
  opacity: 0.8;
  font-weight: 700;
}

.nav_search_wrap {
  position: relative;
  width: 100%;
  color: var(--text_secondary);
  max-width: 650px;
}

.nav_search_wrap .nav_search_input {
  width: 100%;
  padding: 6px 20px 6px 6px;
  color: white;
  letter-spacing: 0.4px;
  outline: none;
  background: #644565;
  border-radius: 5px;
  border: none;
}

.nav_search_wrap .nav_search_input::placeholder {
  color: #ffffffad;
}
.nav_search_wrap .nav_search_input::-webkit-input-placeholder {
  color: #ffffffad;
}
.nav_search_wrap .nav_search_input::-moz-placeholder {
  color: #ffffffad;
}
.nav_search_wrap .nav_search_input:-ms-input-placeholder {
  color: #ffffffad;
}

.nav_search_wrap .nav_search_icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #ffffffad;
}

.search_result_container {
  position: absolute;
  background: #f8f8f8;
  color: #282626;
  width: 95%;
  border-radius: 6px;
  z-index: 99;
  box-shadow: 10px 13px 15px -14px #00000040;
  top: var(--nav_height);
  max-width: 700px;
}

.search_result_container .search_result_header {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 25px;
  border-bottom: 1.5px solid #d0d0d0;
  font-weight: 600;
  overflow: hidden;
}

.search_result_list_wrap {
  list-style: none;
  max-height: 150px;
  padding: 10px 0px;
}

.search_result_list_wrap li {
  padding: 10px 25px;
  cursor: pointer;
}

.search_result_list_wrap li:hover {
  background: #1264a3;
  color: white;
}

.search_result_list_wrap h4 {
  font-weight: 600;
  color: gray;
  text-align: center;
  font-size: 0.9rem;
}

.search_result_header span {
  display: flex;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.nav_help_wrap {
  position: relative;
}

.nav_help_icon {
  margin-left: 1rem;
}

.help_description {
  position: absolute;
  width: 195px;
  background: #fafafa;
  border: 1px solid silver;
  right: 0px;
  top: 35px;
  padding: 10px 10px;
  z-index: 99;
  color: #000000ab;
  font-size: 0.9rem;
  line-height: 1.4rem;
  box-shadow: 4px 4px 8px #00000017;
}

.header_user_wrap {
  display: flex;
  align-items: center;
}

.header_user_wrap .user_icon {
  font-size: 2.5rem;
  color: #fbaec4;
  display: flex;
  position: relative;
  cursor: pointer;
}

.header_user_wrap .user_profile_img {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.user_profile_img img {
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.header_user_wrap .user_icon:after,
.header_user_wrap .user_profile_img:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #11c715;
  position: absolute;
  border: 2px solid black;
  bottom: 0;
  border-radius: 50px;
  right: 0;
}

.sign_out {
  background: #1264a3;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.05rem;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: var(--nav_height);
  transition: all 0.2s;
}

.sign_out:hover {
  background-color: #0e5184;
}
